@using Proman.Models.ViewModels
@model AddPersonToProjectVM

@{
    ViewData["Title"] = "AssignPerson";
}

<h1>Assign Person to Project @Html.DisplayFor(Model => Model.ProjectName)</h1>

<div>
    <h4>AddPersonToProjectVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           
        </dt>
        <dd class = "col-sm-10">
           
        </dd>
    </dl>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PeopleAvailable)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var each in Model.PeopleAvailable)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => each.FirstName) @Html.DisplayFor(modelItem => each.LastName)
                    </td>
                    <td>
                        <form asp-action="Assign">

                            <input name="personId" value="@each.Id" type="hidden" asp-for="@each.Id" />
                            <input name="projectId" value="@Model.ProjectId" type="hidden" asp-for="@Model.ProjectId" />

                            <input type="submit" value="Assign" class="btn btn-primary" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <a class="btn btn-primary" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.ProjectId">Back to Project Details</a>

</div>
