@model Proman.Models.ViewModels.ProjectDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectDetailsVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DaysLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DaysLeft)
        </dd>
        <dt class="col-sm-2">
            Number of People Assigned
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPeopleAssigned)
        </dd>
    </dl>
</div>
<a class="btn btn-primary" asp-action="AssignPerson" asp-controller="Projects" asp-route-id="@Model.ProjectId">Assign Person</a>
<a class="btn btn-primary" asp-action="Edit" asp-controller="Projects" asp-route-id="@Model.ProjectId">Edit Project</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Projects" asp-route-id="@Model.ProjectId">Back to Project List</a>

<table>
    <thead>
        <tr>
            <th>
                People Assigned
            </th>
            <th>
                Roles
            </th>
            <th>
                Number of Roles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PeopleAssignedToProject != null)
        {
            foreach (var item in Model.PersonRoles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key.FirstName) @Html.DisplayFor(modelItem => item.Key.LastName)
                    </td>
                    <td>
                        @foreach (var each in item.Value)
                        {

                            @Html.DisplayFor(modelItem => each.Name)

                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value.Count)
                    </td>
                    <td>
                        <form asp-action="AssignRoleToPerson">
                            <input name="personId" value="@item.Key.Id" type="hidden" asp-for="@item.Key.Id" />
                            <input name="projectId" value="@Model.ProjectId" type="hidden" asp-for="@Model.ProjectId" />

                            <input type="submit" value="Assign Role" class="btn btn-primary" />

                        </form>
                        <form asp-action="RemoveRoleFromPerson">
                            <input name="personId" value="@item.Key.Id" type="hidden" asp-for="@item.Key.Id" />
                            <input name="projectId" value="@Model.ProjectId" type="hidden" asp-for="@Model.ProjectId" />

                            <input type="submit" value="Remove Role" class="btn btn-primary" />

                        </form>
                        <form asp-action="RemovePersonFromProject">
                            <input name="personId" value="@item.Key.Id" type="hidden" asp-for="@item.Key.Id" />
                            <input name="projectId" value="@Model.ProjectId" type="hidden" asp-for="@Model.ProjectId" />
                            <input type="submit" value="Remove" class="btn btn-primary" />
                        </form>
                        @*<a class="btn btn-primary" asp-action="AssignRole" asp-controller="Projects" asp-route-id="@item.Key.Id">Assign Role</a>
                        <a class="btn btn-primary" asp-action="RemoveRole" asp-controller="Projects" asp-route-id="@item.Key.Id">Remove Role</a>
                        <a class="btn btn-primary" asp-action="RemovePerson" asp-controller="Projects" asp-route-id="@item.Key.Id">Remove</a>*@

                    </td>
                </tr>
            }
        }
    </tbody>
</table>