@model Proman.Models.ViewModels.ProjectDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectDetailsVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DaysLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DaysLeft)
        </dd>
        <dt class="col-sm-2">
            Number of People Assigned
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.NumberOfPeopleAssigned)
        </dd>
    </dl>
</div>
<a class="btn btn-primary" asp-action="AssignPerson" asp-controller="Projects" asp-route-id="@Model.ProjectId">Assign Person</a>
<a class="btn btn-primary" asp-action="Edit" asp-controller="Projects" asp-route-id="@Model.ProjectId">Edit Project</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Projects" asp-route-id="@Model.ProjectId">Back to Project List</a>

<table>
    <thead>
        <tr>
            <th class="p-3">
                People Assigned
            </th>
            <th class="p-3">
                Roles
            </th>
            <th>
                Number of Roles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*Check to see if there is any poeple assigned to the project before looping through.*@
        @if (Model.PeopleAssignedToProject != null)
        {
            @*Loop through each person*@
            foreach (var item in Model.PersonRoles.OrderBy(s => s.Key.FirstName))
            {
                <tr>
                    <td class="p-3">
                        @Html.DisplayFor(modelItem => item.Key.FirstName) @Html.DisplayFor(modelItem => item.Key.LastName)
                    </td>
                    <td class="p-3">
                        @*Loop through each one of the roles*@
                        @foreach (var each in item.Value.OrderBy(s => s.Name))
                        {
                            @*Display each role*@
                            @Html.DisplayFor(modelItem => each.Name)<br />
                        }
                    </td>
                    <td class="p-3">
                        @*Display the number of roles*@
                        @Html.DisplayFor(modelItem => item.Value.Count)
                    </td>
                    <td class="p-3">
                        <form asp-action="AssignRoleToPerson">
                            <input name="personId" value="@item.Key.Id" type="hidden" asp-for="@item.Key.Id" />
                            <input name="projectId" value="@Model.ProjectId" type="hidden" asp-for="@Model.ProjectId" />

                            <input type="submit" value="Assign Role" class="btn btn-primary m-2" />

                        </form>
                        <form asp-action="RemoveRoleFromPerson">
                            <input name="personId" value="@item.Key.Id" type="hidden" asp-for="@item.Key.Id" />
                            <input name="projectId" value="@Model.ProjectId" type="hidden" asp-for="@Model.ProjectId" />

                            <input type="submit" value="Remove Role" class="btn btn-primary m-2" />

                        </form>
                        <form asp-action="RemovePersonFromProject">
                            <input name="personId" value="@item.Key.Id" type="hidden" asp-for="@item.Key.Id" />
                            <input name="projectId" value="@Model.ProjectId" type="hidden" asp-for="@Model.ProjectId" />
                            <input type="submit" value="Remove" class="btn btn-primary m-2" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>