@model Proman.Models.ViewModels.RemovePersonProjectRoleVM

@{
    ViewData["Title"] = "Remove Person From Project";
}

    <h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Removing @Html.DisplayFor(modelItem => Model.UserName) from @Html.DisplayFor(modelItem => Model.ProjectName)</h4>
    <hr />
    <dl class="row">
    </dl>


    <form asp-action="RemovePerson">
        <strong>Project Name: </strong>@Html.DisplayFor(modelItem => Model.ProjectName)<br />
        <input hidden name="ProjectId" value="@Model.ProjectId" asp-for="@Model.ProjectId" />
        <strong>Person Name: </strong>@Html.DisplayFor(modelItem => Model.UserName)<br />
        <input hidden name="UserId" value="@Model.UserId" asp-for="@Model.UserId" />

        <strong>Person's Roles: </strong><br />

        @*Loop through all of the persons' roles for display*@
        @foreach (var role in Model.UserRoles.OrderBy(s => s.Name))
        {

            @Html.DisplayFor(modelItem => role.Name)<br />
        }
        <br />
        <input type="submit" value="Yes, Remove" class="btn btn-danger" /> |

        <a class="btn btn-primary" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.ProjectId">
            Back to Project Details
        </a>
    </form>
</div>
